body {
    display: flex;
    background-color: lightblue;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.grids {
    height: 960px;
    width: 960px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.gridRow {
    display: flex;
    flex: 1;
}
.gridColumn {
    border: 1px solid black;
    flex: 1;
}